.schedule {
  width: 100%;
  gap: 0;
  border-spacing: 0;
  border-collapse: collapse;

  &__headers {
    background-color: rgb(237, 91, 91);
  }

  &__col {
    width: calc(100% / 7);
    min-height: 200px;
  }
}
