.groupInfoPage {
  &__header {
    margin: 0 0 20px;
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 0 40px;

  &__block {
    margin: 0;
  }
}

.group a {
  text-decoration: none;
  cursor: pointer;
}
