.schedule-cell {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0;
  position: relative;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    height: 100%;

    &--even {
      background-color: #f2f2f2;
    }

    &--mobile {
      min-height: 82px;
      width: calc(100% - ((100% - 50px) / 6));

      .schedule-cell__lesson-type,
      .schedule-cell__week {
        position: relative;
        bottom: unset;
        top: unset;
      }
      .schedule-cell__subject-info {
        min-height: unset;
      }
      .schedule-cell__teacher-name,
      .schedule-cell__subject-name {
        padding: 0;
      }
    }
  }

  &__subject {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 30px 80px;
    align-items: center;
    gap: 5px;
  }

  &__subject-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 130px;

    &:not(:first-child) {
      border-top: 3px solid black;
    }
  }

  &__subject-name {
    font-size: 15px;
    text-align: left;
    padding: 0 40px 0 0;
    margin: 0;
  }

  &__teacher-name {
    font-size: 15px;
    padding: 0 40px 0 0;

    &:hover {
      color: #7f4645;
      transform: none;
    }
  }

  &__type-of-lesson,
  &__audience {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  &__lesson-type {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: "OfficinaSansBookC";
    font-weight: 400;
    font-size: 11.56px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 6px 8px;
    border-radius: 50%;
    background-color: #f5e6c7;
    color: black;
    user-select: none;

    &--lection {
      background-color: #cf805f;
      color: white;
    }
  }

  &__week {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(14, 14, 14);
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    color: white;
  }
}
