.schedule-cell {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.schedule-cell__subject-name {
  margin: 0;
  padding: 0;
}

.schedule-cell__teacher-name {
  margin: 0;
  padding: 0;
}

.schedule-cell--even {
  background-color: rgb(230, 176, 111);
}
