.schedule-cell {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0;
  position: relative;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    height: 100%;

    &--even {
      background-color: #f2f2f2;
    }

    &--mobile {
      min-height: 82px;
      width: calc(100% - ((100% - 50px) / 6));

      .schedule-cell__lesson-type,
      .schedule-cell__week {
        position: relative;
        bottom: unset;
        top: unset;
      }
      .schedule-cell__subject-info {
        min-height: unset;
      }
      .schedule-cell__teacher-name,
      .schedule-cell__subject-name {
        padding: 0;
      }
    }
  }

  &__subject {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 30px 80px;
    align-items: center;
    gap: 5px;
  }

  &__subject-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 130px;
    min-width: 0;
    overflow: hidden;
    gap: 4px;

    &:not(:first-child) {
      border-top: 3px solid black;
      padding-top: 10px;
      margin-top: 5px;
    }
  }

  &__subject-name {
    font-size: 14px;
    text-align: left;
    margin: 0 0 2px 0;
    line-height: 1.3;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
    padding-right: 45px;
    width: 100%;
    box-sizing: border-box;
  }

  &__audience {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 2px 0;
    display: block;
  }

  &__teacher-name {
    font-size: 14px;
    display: block;
    margin-top: 2px;
    text-decoration: none;
    
    color: #8b0000;

    &:hover {
      color: #cf805f;
    }
  }

  &__lesson-type {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: "OfficinaSansBookC";
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5e6c7;
    color: black;
    user-select: none;
    z-index: 2;

    &--lection {
      background-color: #cf805f;
      color: white;
    }
    &--lab {
      background-color: #75966e;
      color: white;
    }
  }

  &__week {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
    background-color: rgb(14, 14, 14);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    color: white;
    user-select: none;
  }
}