.groupsPage {
  margin: 0 0 20px;

  &__header {
    font-family: OfficinaSansMediumC;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin: 0 0 24px;
    text-align: left;

    @media (max-width: 450px) {
      text-align: center;
      font-size: 24px;
    }
  }
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  &__number {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px;
  }

  &__input {
    min-width: 420px;

    &::placeholder {
      font-family: OfficinaSansBookC;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      margin: 0;
      padding: 10px;
      color: #989898;
    }

    @media (max-width: 450px) {
      margin: 0 auto;
      min-width: 280px;
      width: calc(100% - 30px);
    }
  }
}

.groups a {
  text-decoration: none;
  cursor: pointer;
}
