.groupsPage {
  margin: 0 20px 20px;
}

.groupsPage__header {
  margin: 0 0 20px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.groups a {
  text-decoration: none;
  cursor: pointer;
}

.groups a:hover {
  color: rgb(72, 111, 184);
}

.groups_number {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
