.app {
  text-align: center;
  background-color: bisque;
  min-height: 100vh;
}

.app__header {
  padding: 20px 0 0 0;
  margin: 0 0 30px;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 80px 0;
  min-height: 100vh;
  height: 100%;
  background-color: beige;
  padding: 0 0 30px;
}

.navMenu {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  padding: 0 0 30px;
}

.navMenu__text {
  text-decoration: none;
  font-size: 16px;
}

td,
th {
  padding: 0;
  margin: 0;
}
