.app {
  text-align: center;
  min-height: 100vh;
}

.app__header {
  padding: 20px 0 0 0;
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.app__wrapper {
  min-height: 100vh;
  height: 100%;
}
